/*body {*/
    /*background-image: url("background.jpg");*/
/*}*/

/*section {*/
    /*background-color: rgba(0, 0, 0, 0.6);*/
    /*margin: auto;*/
    /*width: 80%;*/
    /*padding: 10px;*/
/*}*/

/*#mines-canvas, #game-info {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
/*}*/

/*#game-info {*/
    /*margin: 5px;*/
    /*padding: 10px;*/
    /*font: 25px solid;*/
    /*font-family: monospace;*/
    /*color: rgb(134, 135, 124);*/
/*}*/

/*.centered {*/
    /*text-align: center;*/
/*}*/

/*.button {*/
    /*text-align: right;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
/*}*/

/*#restart-btn {*/
    /*padding: 5px 20px;*/
    /*font-family: monospace;*/
    /*font-size: 18px;*/
    /*color: rgb(146, 186, 209);*/
    /*background-color: rgb(90, 91, 83);*/
    /*border-radius: 4px;*/
/*}*/

/*#game-status {*/
    /*padding: 150px 0;*/
/*}*/

.alert {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}