body {
    background-image: url("background.jpg");
}

section {
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    width: 80%;
    padding: 10px;
}

#mines-canvas, #game-info {
    display: inline-block;
    vertical-align: top;
}

#game-info {
    width: 50%;
    margin: 5px;
    font: 25px solid;
    font-family: consolas;
    color: rgb(134, 135, 124);
}

#game-status {

}

.centered {
    text-align: center;
}